.arrow {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-bottom: 177px;
	margin-left: 10px;
	margin-right: 10px;
}

.arrow:hover {
	opacity: 0.5;
}

#displayDiv {
	margin-left: auto;
	margin-right: auto;
	width: 752px;
}

#dotContainer {
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	padding-top: 5px;
}

#dot1 {
	background-color: black;
}

.dots {
	border: 2px solid black;
	border-radius: 50px;
	width: 10px;
	height: 10px;
	display: inline-block;
}

.dots:hover {
	opacity: 0.5;
}

h1 {
	text-align: center;
}

.image{
	width: 600px;
	height: 400px;
}

#imageDiv {
	width: 1812px;
	height: 400px;
}

#pictureFrame {
	width: 600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border: 2px solid black;
	display: inline-block;
}